:root {
    --main-bg-color: #09080D;
    --primary-purple: #3F1D5F;
    --secondary-purple: #310E31;
    --trinary-purple: #816d93;
    --sorting-purple: #654c7d;
    --color-bright: #F1576D;
    --secondary-text-color: #A1AEEC;
    --white-color: #FDF7D7;
    --highlight-color: #E8ABA8;
    --special-text: #EA7226;
    --yellow-color: #F8C618;
    --edit-bg: #944886;
    --form-bg: #b690af;
    
  }
body {
    margin: 0;
    width: 100vw;
    height:100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: var(--primary-purple);
    padding: 0 20px;
    position: fixed;
}

aside {
    background-color: var(--primary-purple);
    float: left;
    height: 100vh;
    width: 25%;
    top:100px;
    position: absolute;
    left:-10px;
}

#questionnaire {
    text-align: center;
    background-color: var(--edit-bg);
    padding-top:150px;
    margin-left: 24%;
    overflow-y: auto;
    height: 100%;
    scrollbar-color:rgba(255, 255, 255, 0.24) rgba(255, 255, 255, 0.253);

}

#questionnaire section{
    height: 100%;
    padding: 100px 0;
}

#questionnaire hr{
    border: 2px solid var(--white-color);
}

#questionnaire h1{
    color: var(--white-color);
    font-size: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
form {
    margin-bottom: 200px;
}
input, select, textarea, #dropdown-btn{
    background-color: var(--form-bg);
    font-size: 20px;
    border: 0 none;
    border-radius: 8px;
    padding: 8px 15px
}

#calendar {
    font-family: Arial, sans-serif;
    text-align: center;
    color: var(--white-color);
    display: flex;
    justify-content: center;
  }
  #calendar table {
    width: 80%;
    border-collapse: collapse;
  }
  #calendar th,#calendar td {
    border: 1px solid var(--white-color);
    padding: 8px;
  }
  #calendar  th {
    background-color: var(--form-bg);
  }
  .month-navigation {
    cursor: pointer;
    padding: 0 10px;
    font-size: 20px;
    user-select: none;
    color: var(--white-color);
  }

  .dropdown-container {
    position: relative;
    display: inline-block;
  }
  .dropdown-list {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    max-height: 200px; /* Limit the height of the dropdown */
    overflow-y: auto; /* Enable vertical scrolling */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-list input[type="checkbox"] {
    margin-right: 10px;
  }
  .dropdown-list div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-list div:hover {
    background-color: #f1f1f1;
  }
  .selected-items {
    min-height: 20px;
    margin-bottom: 10px;
  }

/* ------------- */
.multiselect {
    width: 100%;
  }
  
  .selectBox {
    position: relative;
  }
  
  .selectBox select {
    width: 100%;
  }
  
  .overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  #mySelectOptions {
    display: none;
    border: 0.5px #7c7c7c solid;
    background-color: #ffffff;
    max-height: 150px;
    overflow-y: scroll;
  }
  
  #mySelectOptions label {
    display: block;
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    background-color: #ffffff00;
    padding: 0 2.25rem 0 .75rem;
    /* padding: .375rem 2.25rem .375rem .75rem; */
  }
  
  #mySelectOptions label:hover {
    background-color: #1e90ff;
  }