:root {
    --main-bg-color: #09080D;
    --primary-purple: #3F1D5F;
    --secondary-purple: #310E31;
    --trinary-purple: #816d93;
    --sorting-color: #654c7d;
    --color-bright: #F1576D;
    --secondary-text-color: #A1AEEC;
    --white-color: #FDF7D7;
    --highlight-color: #E8ABA8;
    --special-text: #EA7226;
    --yellow-color: #F8C618;
    --edit-bg: #944886;
    --form-bg: #b690af;
    
  }
body {
    margin: 0;
    width: 100vw;
    height:100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: var(--primary-purple);
    padding-left: 50px;
    position: fixed;
}
#nav-title{
    margin-right: 20%;
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--secondary-text-color);
}

aside {
    background-color: var(--primary-purple);
    color: var(--white-color);
    float: left;
    height: 100vh;
    width: 25%;
    top:100px;
    position: absolute;
    left:0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-y: scroll;
    scrollbar-color:rgba(255, 255, 255, 0.24) rgba(255, 255, 255, 0.253);
}
aside ul{
    list-style-type: none;
    padding: 0;
    font-size: 24px;
    margin: 0;
}
#peopleList{
    list-style-type: none;
    padding: 0;
    font-size: 24px;
    margin: 0 0 200px 0;
}

aside .sidebar-li{
    padding: 20px 40px;
    cursor:pointer;
}
aside .sidebar-li:hover{
    background-color: var(--form-bg);
}

aside hr{
    margin: auto;
    width: 90%;
}
#edit-modal{
    position: fixed;
    left: 25.2%;
    background-color: var(--color-bright);
    border-radius: 10px;
    padding: 20px 20px;
    z-index: 2;
    height: fit-content;
    display: none;
}
#edit-modal ul{
    list-style-type: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    color: var(--white-color);
    padding: 0;
    margin: 0;
}

#modal-arrow{
    position: absolute;
    font-size: 60px;
    top:10px;
    left: -50px;
    color: var(--color-bright);
    user-select: none;
}
#add-new-person{
    background-color: var(--trinary-purple);
    cursor:cell;
}

.edit-button{
    float: right;
    margin-top: 5px;
    z-index: 10;
}

#sorting-box{
    text-align: center;
    background-color: var(--sorting-color);
}

.selected-person{
    background-color: var(--highlight-color);

}

#questionnaire {
    text-align: center;
    background-color: var(--edit-bg);
    padding-top:100px;
    margin-left: 24%;
    overflow-y: auto;
    height: 100%;
    scrollbar-color:rgba(255, 255, 255, 0.24) rgba(255, 255, 255, 0.253);

}

#questionnaire section{
    height: 100%;
    padding: 100px 0;
}

#questionnaire hr{
    border: 2px solid var(--white-color);
}

#questionnaire h1{
    color: var(--white-color);
    font-size: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
form {
    margin-bottom: 200px;
}
input, select, textarea, #dropdown-btn{
    background-color: var(--form-bg);
    font-size: 20px;
    border: 0 none;
    border-radius: 8px;
    padding: 10px 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#calendar {
    font-family: Arial, sans-serif;
    text-align: center;
    color: var(--white-color);
    display: flex;
    justify-content: center;
  }
  #calendar table {
    width: 80%;
    border-collapse: collapse;
  }
  #calendar th,#calendar td {
    border: 1px solid var(--white-color);
    padding: 8px;
  }
  #calendar  th {
    background-color: var(--form-bg);
  }
  #calendar td:hover{
    background-color: var(--trinary-purple);
  }
  .date-selected{
    background-color: var(--sorting-color);
  }
  .month-navigation {
    cursor: pointer;
    padding: 0 10px;
    font-size: 20px;
    user-select: none;
    color: var(--white-color);
  }

  .dropdown-container {
    position: relative;
    display: inline-block;
  }
  .dropdown-list {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    max-height: 200px; /* Limit the height of the dropdown */
    overflow-y: auto; /* Enable vertical scrolling */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-list input[type="checkbox"] {
    margin-right: 10px;
  }
  .dropdown-list div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-list div:hover {
    background-color: #f1f1f1;
  }

  #skill-container {
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--white-color);
  }

  .selected-items {
    min-height: 20px;
    margin-bottom: 10px;
  }
